@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}



@media only screen and (max-width: 1915px) {
    #banner {
        background: url('../img/banner2.jpg') no-repeat;
        width: 100%;
        height: 720px;
        position: relative;
        top: -285px;
    }    
}


@media only screen and (max-width: 1024px) {
    
    footer .pull-left {
        right: 0%;
        line-height: 40px;
    }

    footer .p-right {
        left: 40%;
        line-height: 40px;
    }
}

@media only screen and (max-width:768px){
    .header-black ul {
        display: none;
    }  
    
    #banner {
        background-position: center;
    }

    #estatisticas {
        height: auto;
    }  
    #estatisticas p {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    #call-to-action {
        margin-top: -50px;
    }

    #call-to-action hr {
        border-width: 4px;
    }

    #call-to-action p {
        text-align: justify;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #call-to-action h2 {
        font-size: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #call-to-action .btn{
        min-width: 138px;
    }

    #call-to-action .btn-roxo {
        float: left;
    }

    #call-to-action .btn-amarelo {
        float: right;
    }

    #call-to-action .col-xs-6 {
        padding: 0;
    }

    footer {
        margin-top: 60px;
    }

    footer .row{
        margin-left: 0;
        margin-right: 0;
    }

    .copyright-mobile {
        margin-right: 70px;
    }

    .copyright-mobile p {
        font-size: 10px;
        line-height: 0;
    }

    footer .row p{
        line-height: 20px;
        margin-left: 22px;
    }

    /* p:nth-child(2) para o segundo elemento */
    footer .row p:first-child {
        margin-top: 10px;
    }

    footer .p-right{
        margin-right: 20px;    
    }
    
    /* .row-cols {
        display: flex;
        position: relative;
        top: -178px;
        right: -132px;
    } */

}

@media only screen and (max-width: 768px) and (min-width: 481px){

    .row-cols{
        display: flex;
        position: relative;
        left: 150px;
        bottom: 173px;
    }    

    footer .row p {
        margin-left: 0;
    }

    footer .list-socials {
        margin-left: -6px;
    }

    .p-right {
        bottom: -10px;
    }
   
}


@media only screen and (max-width:480px){

    header .header-black {
        position: fixed;
        /* POSITION FIXED REMOVES ALL WIDTH, so you need to declare again*/
        top: 0;
        width: 100vw;
        z-index: 9;
    }

    .header-black ul, #menu {
        display: none;
    }
    
    header #logotipo {
        left: 32%;
        z-index: 10;        
        transition: 1s;        
    }

    #btn-bars, #btn-search{
        color: #fff;
        font-size: 22px;
        position: absolute;
        top: 5px;
        background: none;
        border: none;
        display: block;
    }

    #btn-bars {
        left: 5px;
    }

    #btn-search {
        right: 20px;
    }    

    #banner {
        background-position: center;
        background-size: cover;
        height: 317px;
        top: -157px;
    }

    #banner h1 {
       top: 176px; 
       font-size: 48px;
       margin-left: 0;
       text-align: center;
    }

    #banner h1 small {
        font-size: 22px;
    }

    #news h2 {
        margin-top: 40px;
        font-size: 32px;
    }

    #news hr {
        border-width: 2px;
    }

    .owl-carousel .owl-stage {
        margin-left: 10px;        
    }

    .owl-carousel .owl-item img {
        width: 80%;
        margin-left: 10%;
    }

    .thumbnails {
        text-align: center;
    }

    #btn-news-prev  {
        background: none;
        border: none;
        color: #5E2699;
        font-size: 48px;
        display: block;
        position:absolute;
        top: 170px;
        z-index: 1;
    }
    #btn-news-next {
        background: none;
        border: none;
        color: #5E2699;
        font-size: 48px;
        display: block;
        position: absolute;
        right: 30px;
        top: 170px;
        z-index: 1;
    }

    footer {
        position: relative;
    }

    footer ul{
        position: absolute;
        top: 53px;
    }

    footer .col-md-10{
        padding: 0;
    }

    footer .list-socials a {
        width: 45px;
        height: 45px;        
        border-radius: 24px;;
    }

    footer .list-socials i {
        font-size: 30px;
        margin: 6px;
    }

    footer .row-cinza-claro {
        height: 157px;
    }

    footer .row-cols ul {
        left: 100px;
        width: 100%;
    }

    footer .btn-footer {
        width: 100%;
        background-color: #11171D;
        line-height: 40px;
        width: 150px;
    }

    footer .row-fluid {
        text-align: center;
        display: inline-block;
        width: 100%;
    }    

    header #menu-mobile {
        position:fixed;
        top:40px;
        background-color: #fff;
        width: 80%;
        height: 100%;
        left: -80%;
        transition: 0.3s;
        z-index: 5;
    }

    header.open-menu #logotipo {
        transform: rotate(360deg);
    }

    header.open-menu #menu-mobile {
        left: 0;
    }

    header.open-menu #menu-mobile-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);    
        z-index: 4;
    }

    header.open-menu #logotipo {
        position: fixed;
        top: 50px;
        height: 76px;
        left: calc(40% - 33.5px);
    } 

    header.open-menu #menu-mobile ul {
        margin-left: 0; 
        margin-top: 100px; 
        padding: 10px;
    }

    header.open-menu #menu-mobile li {
        text-align: center;
        border-top: #CCC 1px solid;       
        list-style: none;
    }

    header.open-menu #menu-mobile li:last-child {
        border-bottom: #CCC 1px solid;
    }

    header.open-menu #menu-mobile a {
        color: #633392;
        font-family: 'OpenSans';
        font-weight: bold;
        font-size: 16px;
        padding: 18px;
        display: block;        
    }

    header.open-menu .bar-close {
        position: absolute;
        bottom: 40px;
        background-color: #633492;
        height: 40px;
        width: 100%;
    }

    header.open-menu .bar-close .btn-close {
        background: none;
        border: none;
        color: white;
        font-size: 28px;   
        line-height: 28px;
        font-weight: bold;     
    }

    header.open-menu .bar-close .btn-close i{
        color: white;
    }

    header #input-search-mobile {
        transition: 1s;
        top: -40px;
        position: fixed;
        width: 50%;
        left: 15%;
        background-color: #000;
        border: none;
        height: 40px;
        color: #fff;
        z-index: 11;
        outline: 0;
    }

    header.open-search #input-search-mobile {              
        top: 0;        
    }

    header.open-search #logotipo {
        z-index: 9;
    }

}


@media only screen and (max-width: 425px) {
    #btn-search {
        right: 45px;
    }

    #banner {
        background-position: center;
        background-size: cover;
        height: 317px;
        top: -157px;
    }

    .owl-carousel .owl-stage {
        margin-left: 12px;        
    }

    #btn-news-next{       
        right: 39px;
    }

    #btn-news-prev{     
        left:35px;
    }

    footer .row-cols ul {
        left: 74px;
    }
}

@media only screen and (max-width: 375px){
 
    .copyright-mobile s{
        margin-left: 0;
    }

    .pull-left {
        margin-left: 0;
    }

    footer .row p:nth-child(2){
        margin-left: 104px;
    }

    footer .row p:first-child {
        margin-left: 0;
        position: relative;
        right: -80px
    }

    footer .row-cols ul {
        left: 38px;
    }

    /* #call-to-action p {
        margin-left: 35px;
        margin-right: 35px;
    } */

}

@media only screen and (max-width: 320px) {

    #banner h1 {
        font-size: 30px;        
    }

    #banner h1 small {
        font-size: 20px;
    }

    #btn-news-next{
        top:143px;
        right: 39px;
    }

    #btn-news-prev{
        top:143px;
        left:35px;
    }

    #call-to-action {
        margin-top: -80px;
    }    

    #call-to-action h2 {
        font-size: 25px;
    }

    #call-to-action p {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 10px;
    }

    #estatisticas p small {
        font-size: 18px;
    }

    footer .row p {
        margin-left: -6px;
        margin-bottom: -21px;    
    }   

    footer .row p:first-child {
        margin-left: 0;
        margin-top: 0;
        right: -12px;
    }

    footer .row p:nth-child(2) {
        margin-left: 0;
        margin-top: 0;
        margin-left: 0;
    }
    
    footer .row-cols ul {
        left: 5px;
    }

    footer .btn-footer {   
        width: 120px;
    }         
    
}